{% extends "auctions/layout.html" %}

{% block body %}
  <h2>Active Listings</h2>
  {% for listing in listings %}
    {% if listing.is_open == True %}
      <div class="show_listing">
        <div class="flex-container">
          {% if listing.image != "1" %}
            <div>
              <img src="{{ listing.image.url }}" alt="{{ listing.title }}" style="width: 500px;">
            </div>
          {% endif %}
          <divod>
            <div style="padding: 10px;">
              <a href="{% url 'listing_page' listing.id %}"><h3>{{ listing.title }}</h3></a>
            </div>
            
            <div>
              <b>Description:</b>{{ listing.description|truncatechars:50 }}
            </div>
            <div>
              <b>Price:</b> {{ listing.bid_price }}$
            </div>
            <div>
              <b>Creator:</b> {{ listing.creator }}
            </div>
          </divod>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}