{% extends "auctions/layout.html" %}
{% block body %}
  <div style="padding: 10px;">
    <h3>{{ listing.title }}</h3>
    {% if listing.image != "1" %}
      <img src="{{ listing.image.url }}" alt="{{ listing.title }}" style="width: 50%;">
    {% endif %}
  </div>
  <div>
    <b>Description:</b>{{ listing.description }}
  </div>
  <div>
    <b>Price:</b> {{ listing.starting_bid }}$
  </div>
  <div>
    <b>Creator:</b> {{ listing.creator }}
  </div>
  <div style="display: flex; justify-content: flex-end; padding-top: 20px; padding-right: 20px;">
    <div class="row">
      <div style="padding-right: 20px;">
        <a href="{% url 'index' %}">
          <button type="submit" class="btn btn-outline-primary" name="return" value=0>RETURN</button>
        </a>
      </div>
      <form action="{% url 'watchlist' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user" value="{{ user.id }}">
        <button type="submit" class="btn btn-primary" name="add" value="{{ listing.id }}">ADD</button>
      </form>
    </div>
  </div>
{% endblock %}