body {
    padding: 10px;
}

.show_listing {
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    gap: 200px;
    flex-direction: row;
    padding: 10px;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}